<div class="container">

    <h1 class="mt-3">Building Creation</h1>

    <form #form="ngForm" (ngSubmit)="createBuilding()">
        <div class="form-control mt-2">

            <div class="mt-3">
                <label for="buildingName" class="form-label">Building Name</label>
                <br>
                <input type="text" id="buildingName" class="form-control" name="buildingName"
                    [(ngModel)]="buildingToCreate.name">
            </div>

            <div class="mt-3">
                <label for="buildingAddress" class="form-label">Building Address</label>
                <br>
                <input type="text" id="buildingAddress" class="form-control" name="buildingAddress"
                    [(ngModel)]="buildingToCreate.address">
            </div>

            <div class="mt-3">
                <label for="buildingLocation" class="form-label">Building Location</label>
                <br>

                <div class="ms-4">
                    <label for="buildingLocationLatitude" class="form-label">- Building Latitude</label>
                    <input type="text" id="buildingLocationLatitude" class="form-control"
                        name="buildingLocationLatitude" [(ngModel)]="buildingToCreate.location.latitude">
                    <br>

                    <label for="buildingLocationLongitude" class="form-label">- Building Longitude</label>
                    <input type="text" id="buildingLocationLongitude" class="form-control"
                        name="buildingLocationLongitude" [(ngModel)]="buildingToCreate.location.longitude">
                </div>
            </div>

            <div class="mt-3">
                <label for="buildingCommonExpenses" class="form-label">Building Common Expenses</label>
                <input type="text" id="buildingCommonExpenses" class="form-control" name="buildingCommonExpenses"
                    [(ngModel)]="buildingToCreate.commonExpenses">
            </div>


            <div class="mt-3">
                <label class="form-label">Available Managers</label>
                <select name="possibleManagers" id="possibleManagers" (change)="onChangeManager($event)" class="form-select">
                    <option selected disabled value="default">Press click to select a manager</option>
                    <option *ngFor="let manager of availableManagers" [value]="manager.id"> {{manager.name}}</option>
                </select>
            </div>

            <div class="container mt-4">
                <table class="table table-striped mt-4" *ngIf="buildingToCreate.flats.length > 0">
                    <thead>
                        <tr>
                            <th>Floor</th>
                            <th>Room Number</th>
                            <th>Owner Assigned</th>
                            <th>Total Rooms</th>
                            <th>Total Baths</th>
                            <th>Terrace</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let flat of buildingToCreate.flats; let i = index">
                            <td>{{ flat.floor }}</td>
                            <td>{{ flat.roomNumber }}</td>
                            <td>{{ getFlatOwnerFirstname(flat.ownerAssignedId)}}</td>
                            <td>{{ flat.totalRooms }}</td>
                            <td>{{ flat.totalBaths }}</td>
                            <td>{{ flat.hasTerrace }}</td>
                            <td><button class="btn btn-danger" (click)="removeFlat(i)">Remove</button></td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="buildingToCreate.flats.length === 0" class="alert alert-warning mt-3" style="margin-left: -0.7rem;">No flats added yet.
                </div>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-success">Create Building</button>
            </div>
        </div>

    </form>
</div>

<div class="container form-control mt-4">

    <div class="container">
        <h2>Flat Creation Section</h2>

        <form #form="ngForm" (ngSubmit)="createFlat()">
            <div class="mt-2">
                <div class="mt-3">
                    <label class="form-label">Floor</label>
                    <br>
                    <input type="number" id="flatFloor" class="form-control" name="flatFloor"
                        [(ngModel)]="flatMockUp.floor">
                </div>

                <div class="mt-3">
                    <label class="form-label">Room Number</label>
                    <br>
                    <input type="text" id="flatRoomNumber" class="form-control" name="flatRoomNumber"
                        [(ngModel)]="flatMockUp.roomNumber">
                </div>

                <div class="mt-3">
                    <label class="form-label">Available Owners</label>
                    <select name="possibleOwners" id="possibleOwners" (change)="onChangeOwner($event)" class="form-select">
                        <option selected disabled value="default">Press click to select a owner</option>
                        <option *ngFor="let owner of availableOwners" [value]="owner.id"> {{owner.firstname}}</option>
                    </select>

                    <button type="button" class="btn btn-info mt-3" (click)="deployOwnerPopUp()">Create new Owner + </button>
                </div>

                <div class="mt-3">
                    <label class="form-label">Total Rooms</label>
                    <br>
                    <input type="text" id="flatTotalRooms" class="form-control" name="flatTotalRooms"
                        [(ngModel)]="flatMockUp.totalRooms">
                </div>


                <div class="mt-3">
                    <label class="form-label">Total Baths</label>
                    <br>
                    <input type="text" id="flatTotalBaths" class="form-control" name="flatTotalBaths"
                        [(ngModel)]="flatMockUp.totalBaths">
                </div>

                <div class="mt-3">
                    <label class="form-check-label" for="hasTerraceCheck">Has terrace</label>
                    <input class="form-check-input ms-2" type="checkbox" [(ngModel)]="flatMockUp.hasTerrace"
                        id="hasTerraceCheck" name="hasTerraceCheck">
                </div>

                <div class="mt-3">
                    <button type="submit" class="btn btn-success"> Create Flat +</button>
                </div>
            </div>
        </form>

    </div>

</div>

<div class="owner-container-popup" *ngIf="showOwnerCreation">


    <div class="button-container">
        <button type="button" class="close-button" (click)="undeployOwnerPopup()">Go Back</button>
        <app-owner-create></app-owner-create>
    </div>
</div>
