<div class="container">

<div class="my-5" style="text-align: center;">
    <h2> WELCOME TO BUILDING BUDDY</h2>
</div>

<div class="mt-3" style="text-align: center;">

    <div class="mt-2">
        <label for="userEmail">Insert your email so we can look up any invitations</label>
        <input type="text" id="userEmail" class="form-control my-3" [(ngModel)]="emailToSearch" placeholder="example@gmail.com">
    </div>
   
    <br>

    <div class="mt-1">
        <button class="btn btn-success" (click)="showUpInvitations()">Click here to look out any invitation that you have</button>
    </div>
   
    <div class="container mt-3">
        <div class="d-flex justify-content-end">
            <a class="btn btn-primary top-right-button" routerLink="/login">Login</a>
        </div>
    </div>
    

</div>

</div>