<br />
<h1>Welcome to your invitations</h1>
<br />
<br />

<head>
    <h4>
        <label style="text-decoration:underline">Invitation List</label>
        <br />
    </h4>
</head>

<main>

    <ng-container *ngIf="hasInvitations; else noInvitations">

        <table class="table table-striped table-bordered tableClass">
            <thead>
                <br />
                <tr>
                    <th>Role To Adquire</th>
                    <th>Status</th>
                    <th>Expiration Date</th>
                    <th>Accept</th>
                    <th>Reject</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let invitation of invitationsOfEmail">
                    <td> {{getSystemUserRoleString(invitation.role)}} </td>
                    <td> {{getStatusString(invitation.status)}} </td>
                    <td> {{invitation.expirationDate | date:'yyyy-MM-dd HH:mm:ss'}} </td>
                    <td>
                        <button class="btn btn-success btn-sm button" (click)="acceptInvitation(invitation)"> Accept </button>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm button" (click)="rejectInvitation(invitation)"> Reject </button>
                    </td> 
                </tr>
            </tbody>
            <br/>

        </table>

    </ng-container>

</main>


<ng-template #noInvitations>
    <div class="alert alert-warning" role="alert">
        <h4 style="text-align: center;">There are no invitations for this email.</h4>
    </div>
</ng-template>

