<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="#">Building Buddy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>

                <ng-container *ngIf="userRole === 'Admin' ">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Admin Features
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" [routerLink]="['invitations/list']">Invitation Section</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li><a class="dropdown-item" [routerLink]="['categories']">Categories Section</a></li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li><a class="dropdown-item" [routerLink]="['admins/create']">Admin Section</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li><a class="dropdown-item" [routerLink]="['managers/list']">Manager Section</a></li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li><a class="dropdown-item" [routerLink]="['reports']">Reports Section</a></li>
                        </ul>
                    </li>
                </ng-container>

                <ng-container *ngIf="userRole === 'ConstructionCompanyAdmin' || userRole === 'Admin'  ">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Construction Company Admin Features
                        </a>
                        <ul class="dropdown-menu">
                            
                            <li><a class="dropdown-item" [routerLink]="['constructionCompanies/list']">Construction Company Section</a></li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li><a class="dropdown-item" [routerLink]="['buildings/list']">Building Section</a></li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li><a class="dropdown-item" [routerLink]="['constructionCompanyAdmin/create']">Construction Company Admin Section</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" [routerLink]="['reports']">Reports Section</a></li>
                        </ul>
                    </li>


                </ng-container>
            </ul>

        </div>     
    </div>

    <div class="d-flex me-3">
        <ng-container *ngIf="userRole === undefined; else showLogout">
          <a [routerLink]="['/login']" class="btn btn-primary">Login</a>
        </ng-container>
    </div>
</nav>

<ng-template #showLogout>
<button class="btn btn-outline-danger ms-3 " (click)="logout()"> Logout </button>
</ng-template>