
<div class="container" *ngIf="buildings.length > 0; else noBuildings">

    <div>
        <label> Building List</label>
    </div>

    <table class="table table-striped table-bordered tableClass">
        <thead>
            <br />
            <tr>
                <th>Building Name </th>
                <th>Building Address</th>
                <th>Manager of Building</th>
                <th>Update Building</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let building of buildings">
            <td>{{building.name}}</td>
            <td>{{building.address}}</td>
            <td>{{checkIfItHasManager(building.mana)}}</td>
            <td *ngIf="hasManager">
                <a class="btn btn-info btn-sm button"
                    [routerLink]="[`/construction-company/${constructionCompany.id/update}]"> Update </a>
            </td>
            </tr>
        </tbody>
        <br />

    </table>


</div>


<ng-template #noBuildings>
    <div class="alert alert-warning">
        <h4>There are no buildings at the moment</h4>
    </div>
</ng-template>