<div class="container" *ngIf="buildings.length > 0; else noBuildings">

    <div class="mt-5">
        <h1> Building List</h1>
    </div>

    <table class="table table-striped table-bordered tableClass mt-4">
        <thead>
           
            <tr>
                <th>Building Name </th>
                <th>Building Address</th>
                <th>Manager of Building</th>
                <th>Update Building</th>
                <th>Delete Building</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let building of buildings">
                <td>{{building.name}}</td>
                <td>{{building.address}}</td>
                <td>{{checkIfItHasManager(building.manager)}}</td>
                <td><button class="btn btn-info" [routerLink]="['/buildings',building.id,'update']"> Update Building </button> </td>
                <td><button class="btn btn-danger" (click)="deleteBuilding(building.id)"> Delete Building </button> </td>
            </tr>
        </tbody>
        <br />

    </table>


</div>


<ng-template #noBuildings>
    <div class="alert alert-warning mt-5" style="text-align: center;">
        <h4>There are no buildings at the moment</h4>
    </div>
</ng-template>