<div class="container" *ngIf="ownersOfBuilding; else NoOwners">

    <div class="mt-5">
        <h1> Owners List</h1>
    </div>

    <table class="table table-striped table-bordered tableClass mt-4">
        <thead>
            <tr>
                <th>Owners Firstname</th>
                <th>Owners Lastname</th>
                <th>Owners Email</th>
                <th *ngIf="userConnected?.userRole != SystemUserRoleEnumValues.Admin">Update Owner Information</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let owner of ownersOfBuilding">
                <td>{{owner.firstname}}</td>
                <td>{{owner.lastname}}</td>
                <td>{{owner.email}}</td>
                <td *ngIf="userConnected?.userRole != SystemUserRoleEnumValues.Admin">
                    <button class="btn btn-info" [routerLink]="['/owners', owner.id, 'update']"
                        [queryParams]="{ buildingId: buildingId}"> Update Owner</button>
                </td>
            </tr>
        </tbody>
    </table>
    <a *ngIf="userConnected?.userRole != SystemUserRoleEnumValues.Admin" type="button" class="btn btn-info ms-3" [routerLink]="['/buildings/list']">Go back</a>
</div>


<ng-template #NoOwners>

    <div class="alert alert-warning">
        <h4>No Owners at the moment for this building</h4>
        <a [routerLink]="['/building/list']" class="btn btn-info">Go back</a>
    </div>

</ng-template>